*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.game-container{
    height: 100vh;
    width: 100vw;
    background-image: url('natural-landscape-wallpaper-concept_23-2148650600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    height: 120px;
    width: 125px;
    background-image: url('hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.monster{
    height: 144px;
    width: 165px;
    background-image: url('Green-Monster.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 45px;

}
.monster2{
    

    height: 144px;
    width: 165px;
    background-image: url('Green-Monster.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 10px;
    visibility: hidden;


}
.game-over{
    position: absolute;
    top: 50%;
    left: 27%;
    visibility: hidden;

}
.game-over p{
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-top: 20px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    
}
.pause{
    position: absolute;
    top: 50%;
    left: 31%;
    visibility: hidden;

}
.pause p{
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-top: 20px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    
}
.score{
    position: absolute;
    top: 10%;
    left: 40%;

}
.score p{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    letter-spacing: 10px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
.jump{
    
    animation: jump 1s linear;
    
}
@keyframes jump{
    0%{
        bottom: 10px;
    }
    10%{
        bottom:35px;
        /* rotate:90deg; */
    }
    25%{
        bottom: 140px;
        rotate: 90 deg;
    }
    50%{
        bottom:250px;
        
        rotate: 180deg;
    }
    75%{
        bottom: 100px;
        /* rotate: 460deg; */

    }
    100%{
        rotate: 360deg;
        bottom: 10px;
        transform: translateX(20px)
       
    }
}
.monster-move{
    animation: monseter-move 5s linear infinite;

}
@keyframes monseter-move {
    0%{
        left: 100vw;

    }
    100%{
        left: -10vw;
    }
}
.stone{
    height: 80px;
    width: 59px;
    position: absolute;
    left: 50%;
    background-image: url('rock.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: falling 2s linear infinite;
}

.stone2{

}
@keyframes falling{
    0%{
        bottom: 100vh;
        
    }
    100%{
        bottom: -10vh;
    }
}